<div class="body-left">
    <h1>Change Settings</h1>

 
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
		<div class="form-group">
        <%= f.label :time_zone %><br />
        <%= f.select :time_zone, options_for_select(@timeZones, :selected => current_user.time_zone), {include_blank: true}, class: "form-control form-max-width-50" %>
      </div>

		<div class="form-group group">
		<%= f.label :class_number, + '(the number of classes you have a day)' %>  <br />
    <%= f.text_field :class_number, value: current_user.class_number, class: "form-control form-max-width-50" %>
		</div>

      <div class="form-group">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default" %></p>

    <%= link_to "Back", :back %>
 
</div>