
    <br>
    <h1 class="center">My Settings</h1>
<div class="body-left">
    <% @timeZones = [["Pacific Time", -8], ["Eastern Time", -5], ["Greenwich Mean Time", 0], ["Mountain Time", -7],["Central Time", -6],["Atlantic Time", -4], ["Newfoundland Time", -3.5], ["European Central Time", 1], ["Eastern European Time", 2], ["Argentina Standard Time", -3], ["Brazil Eastern Time", -3], ["Central African Time", -1], ["Alaska Standard Time", -9], ["Hawaii Standard Time", -10], ["Midway Islands Time", -11]] %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, validate: true) do |f| %>
      <%= devise_error_messages! %>
		<div class="form-group">
        <%= f.label :time_zone %><br />
        <%= f.select :time_zone, options_for_select(@timeZones, :selected => current_user.time_zone), {include_blank: true}, class: "form-control form-max-width-50" %>
      </div>

		<div class="form-group">
		<%= f.label "Number of classes you have each day" %>  <br />
    <%= f.text_field :class_number, value: current_user.class_number, class: "form-control form-max-width-50" %>
		</div>

      <div class="form-group">
        <%= f.submit "Update Settings", class: "btn btn-primary" %>
      </div>
    <% end %>
    <br>

    <h4>Cancel account</h4>

    <p>No longer need Christopher Bot's help? <br> <%= link_to "Delete Account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary white-text" %></p>

    <%= link_to "Back", :back %>
 <br><br>
</div>
  <%= current_uri = request.env['PATH_INFO'].inspect %>