<div class="white-container">
<%= $webhook.inspect %>
<br>
<%= $userTodayGroups.inspect %>
<br>
<%= $keyWordCount.inspect %>
<br>
<%= $checkKeyWords.inspect %> 
<br>
<%= $subject.inspect %>
<br>
<%= $textArray.inspect %>
<br>
<%= $possibleSubjects.inspect %>
<br>
<%= $groupsResponse.inspect %>
<%= $tester.inspect %>

IF POSTBACK<br>
<%= $webhook["entry"][0]["messaging"][0]["postback"]["payload"].inspect %>
</div>

