<div class="panel panel-default">
	<div class="panel-body">
<%= simple_form_for(@group, html: { class: "form-inline"}) do |f| %>
  <%= f.error_notification %>

<% counter = 0 %>
<% current_user.class_number.to_i.times do %>
	<% if @groups[counter].nil? %>
		<%= f.text_field :group_name, name: "group[][group_name]", value: "", class: "form-control" %>
		<%= f.time_field :end_time, name: "group[][end_time]", value: "", class: "form-control" %>
		<%= f.hidden_field :group_day, :hidden => true, :value => @group.group_day, name: "group[][group_day]", class: "form-control" %>
		<%= f.hidden_field :conversation_id, :value => current_user.conversation_id, name: "group[][conversation_id]", class: "form-control" %>	
	<% else %>
		<%= f.text_field :group_name, name: "group[][group_name]", value: @groups[counter]["group_name"], class: "form-control" %>
		<%= f.time_field :end_time, name: "group[][end_time]", value: @groups[counter]["end_time"].strftime("%H:%M"), class: "form-control" %>
		<%= f.hidden_field :group_day, :hidden => true, :value => @group.group_day, name: "group[][group_day]", class: "form-control" %>
		<%= f.hidden_field :conversation_id, :value => current_user.conversation_id, name: "group[][conversation_id]", class: "form-control" %>	
		<%= f.hidden_field :id, :value => @groups[counter]["id"], class: "form-control" %>
	<% end %>
	<% counter += 1 %>
	<br>
<% end %>
	<br>
  <div class="form-actions">
    <%= f.submit 'Make Changes To Classes', class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>

<%= $gropusId.inspect %>