<%= simple_form_for(@group, html: { class: "form-inline"}) do |f| %>
  <%= f.error_notification %>

<% counter = 0 %>

<% current_user.class_number.to_i.times do %>
	<% if @groups[counter].nil? %>
		<%= f.text_field :name, name: "group[][name]", value: "", class: "form-control" %>
		<%= f.time_field :end_time, name: "group[][end_time]", value: "", class: "form-control" %>
		<%= f.hidden_field :group_day, :hidden => true, :value => @group.group_day, name: "group[][group_day]", class: "form-control" %>
	<% else %>
		<%= f.text_field :name, name: "group[][name]", value: @groups[counter]["name"], class: "form-control" %>
		<%= f.time_field :end_time, name: "group[][end_time]", class: "form-control" %>
		<%= f.hidden_field :group_day, :hidden => true, :value => @group.group_day, name: "group[][group_day]", class: "form-control" %>
	<% end %>
	<% counter += 1 %>
	<br>
<% end %>
	
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
