<div class="body-left">
<%= simple_form_for(@group, html: { class: "form-inline"}) do |f| %>
  <%= f.error_notification %>
  <% $deletedFromEdit == false %>

<% counter = 0 %>
<% current_user.class_number.to_i.times do %>
	<% if @groups[counter].nil? %>
		<%= f.text_field :group_name, name: "group[][group_name]", value: "", class: "form-control" %>
		<%= f.time_field :end_time, name: "group[][end_time]", value: "", class: "form-control" %>
		<%= f.hidden_field :group_day, :hidden => true, :value => @group.group_day, name: "group[][group_day]", class: "form-control" %>
		<%= f.hidden_field :conversation_id, :value => current_user.conversation_id, name: "group[][conversation_id]", class: "form-control" %>	
		<%= f.hidden_field :id, :value => nil, name: "group[][id]", class: "form-control" %>
	<% else %>
		<%= f.text_field :group_name, name: "group[][group_name]", value: @groups[counter]["group_name"], class: "form-control" %>
		<%= f.time_field :end_time, name: "group[][end_time]", value: @groups[counter]["end_time"].strftime("%H:%M"), class: "form-control" %>
		<%= f.hidden_field :group_day, :hidden => true, :value => @group.group_day, name: "group[][group_day]", class: "form-control" %>
		<%= f.hidden_field :conversation_id, :value => current_user.conversation_id, name: "group[][conversation_id]", class: "form-control" %>	
		<%= f.hidden_field :id, :value => @groups[counter]["id"], name: "group[][id]", class: "form-control" %>
		<%= link_to @groups[counter], method: :delete, data: { confirm: 'Are you sure?' } do %>
	    <span class="glyphicon glyphicon-trash" aria-hidden="true">
	    <% $deletedFromEdit = true %>
	  <% end %>
	<% end %>
	<br>
		<% counter += 1 %>
<% end %>

<% if @groups.count > current_user.class_number.to_i %>
	<% specialcounter = 0 %>
	<% @extraGroups = @groups %>
	<% current_user.class_number.to_i.times do %>
		<% @extraGroups.delete(@extraGroups.first) %>
	<% end %>
	<br>
	<% if @extraGroups != 0 %>
	<% @extraGroups.count.times do %>
		<% if @extraGroups[specialcounter]["group_name"].nil? || @extraGroups[specialcounter]["end_time"].nil? %>
			<% @groupDelete = Group.find_by(id: @extraGroups[specialcounter]["id"]) %>
			<% @groupDelete.delete %>
		<% else %>
		Extra Classes - delete these if you don't need them <br>
		<%= f.text_field :group_name, name: "group[][group_name]", value: @extraGroups[specialcounter]["group_name"], class: "form-control" %>
		<%= f.time_field :end_time, name: "group[][end_time]", value: @extraGroups[specialcounter]["end_time"].strftime("%H:%M"), class: "form-control" %>
		<%= f.hidden_field :group_day, :hidden => true, :value => @group.group_day, name: "group[][group_day]", class: "form-control" %>
		<%= f.hidden_field :conversation_id, :value => current_user.conversation_id, name: "group[][conversation_id]", class: "form-control" %>	
		<%= f.hidden_field :id, :value => @extraGroups[specialcounter]["id"], name: "group[][id]", class: "form-control" %>
		<%= link_to @groups[specialcounter], method: :delete, data: { confirm: 'Are you sure?' } do %>
	    <span class="glyphicon glyphicon-trash" aria-hidden="true">
	    <% $deletedFromEdit = true %>
	  <% end %>
	  <br>
	  <% end %>
	<% specialcounter += 1 %>
	<% end %>
	<% end %>
	<% end %>

  <div class="form-actions">
  <br>
    <%= f.submit 'Make Changes To Classes', class: "btn btn-primary" %>
  </div>
<% end %>
</div>