<% if !user_signed_in? %>
	<%= render 'pages/home' %>
<% elsif current_user.class_number.nil? %>
	<%= render 'pages/user_class_number' %>
<% else %>

	<h1 class="center">My Classes</h1>

	<h2> Monday </h2>
	    <% current_user.groups.where("group_day = ?", "monday").order("end_time ASC").each do |group| %>
	    		<% ifHomework = checkIfHomework(group) %>
		      <%= group.group_name %> - <%= "ends at: " + group.end_time.strftime("%H:%M") %> - 
		      <%= "Homework? " + ifHomework %> 
	        <%= link_to 'Edit', edit_group_path(group) %>
	        <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
	        <br>
	    <% end %>
	    <br>
	<h2> Tuesday </h2>
	    <% current_user.groups.where("group_day = ?", "tuesday").order("end_time ASC").each do |group| %>
	    		<% ifHomework = checkIfHomework(group) %>
		      <%= group.group_name %> - <%= "ends at: " + group.end_time.strftime("%H:%M") %> - 
		      <%= "Homework? " + ifHomework %> 
	        <%= link_to 'Edit', edit_group_path(group) %>
	        <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
	        <br>
	    <% end %>
	    <br>
	<h2> Wednesday </h2>
	    <% current_user.groups.where("group_day = ?", "wednesday").order("end_time ASC").each do |group| %>
	    		<% ifHomework = checkIfHomework(group) %>
		      <%= group.group_name %> - <%= "ends at: " + group.end_time.strftime("%H:%M") %> - 
		      <%= "Homework? " + ifHomework %> 
	        <%= link_to 'Edit', edit_group_path(group) %>
	        <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
	        <br>
	    <% end %>
	    <br>
	<h2> Thursday </h2>
	    <% current_user.groups.where("group_day = ?", "thursday").order("end_time ASC").each do |group| %>
	    		<% ifHomework = checkIfHomework(group) %>
		      <%= group.group_name %> - <%= "ends at: " + group.end_time.strftime("%H:%M") %> - 
		      <%= "Homework? " + ifHomework %> 
	        <%= link_to 'Edit', edit_group_path(group) %>
	        <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
	        <br>
	    <% end %>
	    <br>
	<h2> Friday </h2>
	    <% current_user.groups.where("group_day = ?", "friday").order("end_time ASC").each do |group| %>
	    		<% ifHomework = checkIfHomework(group) %>
		      <%= group.group_name %> - <%= "ends at: " + group.end_time.strftime("%H:%M") %> - 
		      <%= "Homework? " + ifHomework %> 
	        <%= link_to 'Edit', edit_group_path(group) %>
	        <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
	        <br>
	    <% end %>
	    <br>

	<%= link_to 'New Class Day', new_group_path if current_user.groups.where("group_day = ?", "friday").empty?%>

<% end %>

