<% if !user_signed_in? %>
	<%= render 'pages/home' %>
<% elsif current_user.class_number.nil? %>
	<%= render 'pages/user_class_number' %>
<% else %>

	<h1>Listing Classes</h1>


	    <% current_user.groups.each do |group| %>
		      <%= group.name %> - <%= group.end_time %> - <%= group.group_day %>
	        <%= link_to 'Show', group %>
	        <%= link_to 'Edit', edit_group_path(group) %>
	        <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
	        <br>
	    <% end %>

	    <br>

	<%= link_to 'New Class Day', new_group_path %>

<% end %>

<%= $webhook.inspect %>