<% if !user_signed_in? %>
	<%= render 'pages/home' %>
<% elsif current_user.class_number.nil? || current_user.time_zone.nil? %>
	<%= render 'pages/user_class_number' %>
<% else %>

	<h1 class="body-left">My Classes</h1>

<div class="body-left">
	<% classDay = checkHomeworkDay %>
	<%= link_to 'Create Classes For ' + classDay.capitalize, new_group_path, class: "btn btn-primary center" if !classDay.nil? %>
	
	<% counter = 1 %>

	<h2> <%= link_to 'Monday', edit_group_path(current_user.groups.where("group_day = ?", "monday").first) if !current_user.groups.where("group_day = ?", "monday").first.nil? %> </h2>
		<div class="table">
		<div class="row header">
      <div class="cell">
        Name
      </div>
      <div class="cell">
        Age
      </div>
    </div>
	<% if current_user.groups.where("group_day = ?", "monday").empty? %> <h3> no classes for Monday yet</h3> <% end %>
	    <% current_user.groups.where("group_day = ?", "monday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    		<% ifHomework = checkIfHomework(group) %>
	    		<% if ifHomework == 'yes' %>
		      <div class="row"><div class="cell"><%= "#{group.group_name}" %></div><div class="cell"><%= "#{group.homework_assignment}" %></div></div> 
		      <% else %>
		      	<div class="row"><div class="cell"><%= "#{group.group_name}" %></div><div class="cell"><%= "#{group.homework_assignment}" %></div></div> 
		      <% end %>
	    <% counter += 1 %>
	    <% end %>
	</table>
	    <br>
	<% counter = 1 %>
	<h2> <%= link_to 'Tuesday', edit_group_path(current_user.groups.where("group_day = ?", "tuesday").first) if !current_user.groups.where("group_day = ?", "tuesday").first.nil? %> </h2>
	<% if current_user.groups.where("group_day = ?", "tuesday").empty? %> <h3> no classes for Tuesday yet</h3> <% end %>
	    <% current_user.groups.where("group_day = ?", "tuesday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    		<% ifHomework = checkIfHomework(group) %>
	    		<% if ifHomework == 'yes' %>
		      	<span class="yes-homework"><%= group.group_name %> - <%= group.homework_assignment %> </span>
		      <% else %>
		      	<%= group.group_name %> - <%= "no homework yet" %> <b> <%= " - not an active class" if group.extra_class == true %> </b>
		      <% end %>
	        <br>
	    <% counter += 1 %>
	    <% end %>
	    <br>
	<% counter = 1 %>
	<h2> <%= link_to 'Wednesday', edit_group_path(current_user.groups.where("group_day = ?", "wednesday").first) if !current_user.groups.where("group_day = ?", "wednesday").first.nil? %> </h2>
	<% if current_user.groups.where("group_day = ?", "wednesday").empty? %> <h3> no classes for Wednesday yet</h3> <% end %>
	    <% current_user.groups.where("group_day = ?", "wednesday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    	<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    		<% ifHomework = checkIfHomework(group) %>
	    		<% if ifHomework == 'yes' %>
		      	<span class="yes-homework"><%= group.group_name %> - <%= group.homework_assignment %> </span>
		      <% else %>
		      	<%= group.group_name %> - <%= "no homework yet" %> <b> <%= " - not an active class" if group.extra_class == true %> </b>
		      <% end %>
	        <br>
	    <% counter += 1 %>
	    <% end %>
	    <br>
		<% counter = 1 %>
	<h2> <%= link_to 'Thursday', edit_group_path(current_user.groups.where("group_day = ?", "thursday").first) if !current_user.groups.where("group_day = ?", "thursday").first.nil? %> </h2>
	<% if current_user.groups.where("group_day = ?", "thursday").empty? %> <h3> no classes for Thursday yet</h3> <% end %>
	    <% current_user.groups.where("group_day = ?", "thursday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    		<% ifHomework = checkIfHomework(group) %>
	    		<% if ifHomework == 'yes' %>
		      	<span class="yes-homework"><%= group.group_name %> - <%= group.homework_assignment %> </span>
		      <% else %>
		      	<%= group.group_name %> - <%= "no homework yet" %> <b> <%= " - not an active class" if group.extra_class == true %> </b>
		      <% end %>
	        <br>
	    <% counter += 1 %>
	    <% end %>
	    <br>
		<% counter = 1 %>
	<h2> <%= link_to 'Friday', edit_group_path(current_user.groups.where("group_day = ?", "friday").first) if !current_user.groups.where("group_day = ?", "friday").first.nil? %> </h2>
	<% if current_user.groups.where("group_day = ?", "friday").empty? %> <h3> no classes for Friday yet</h3> <% end %>
	    <% current_user.groups.where("group_day = ?", "friday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    		<% ifHomework = checkIfHomework(group) %>
	    		<% if ifHomework == 'yes' %>
		      	<span class="yes-homework"><%= group.group_name %> - <%= group.homework_assignment %> </span>
		      <% else %>
		      	<%= group.group_name %> - <%= "no homework yet" %> <b> <%= " - not an active class" if group.extra_class == true %> </b>
		      <% end %>
	        <br>
	    <% counter += 1 %>
	    <% end %>
	    <br>
</div>
<% end %>

