<% if !user_signed_in? %>
	<%= render 'pages/home' %>
<% elsif current_user.class_number.nil? || current_user.class_number.to_s == "" || current_user.time_zone.nil? || current_user.time_zone.to_s == "" %>
	<%= render 'pages/user_class_number' %>
<% else %>

	<h1 class="body-left">My Classes</h1>

<div class="body-left">
	<% classDay = checkHomeworkDay %>
	<%= link_to 'Create Classes For ' + classDay.capitalize, new_group_path, class: "btn btn-primary center" if !classDay.nil? %>
	
	<% counter = 1 %>
	<% if current_user.groups.where("group_day = ?", "monday").nil? %> <h2> No Classes For Monday Yet </h2> <% else %>
	<h2> <%= link_to 'Monday Classes', edit_group_path(current_user.groups.where("group_day = ?", "monday").first) if !current_user.groups.where("group_day = ?", "monday").first.nil? %> </h2>
		<div class="table">
		<div class="row header">
      <div class="cell">
        Class Name
      </div>
      <div class="cell">
        Class End Time
      </div>
      <div class="cell">
        Homework
      </div>
    </div>
	    <% current_user.groups.where("group_day = ?", "monday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    	<% ifHomework = checkIfHomework(group) %>
		     <div class="row"><div class="cell"><%= group.group_name %></div><div class="cell"><%= group.end_time.strftime("%l:%M").to_s %></div><div class="cell"><%= group.homework_assignment %></div></div> 
	    <% counter += 1 %>
	    <% end %>
	</div>
	<% end %>
	    <br>
	<% if current_user.groups.where("group_day = ?", "tuesday").nil? %> <h2> No Classes For Tuesday Yet </h2> <% else %>
	<h2> <%= link_to 'Tuesday Classes', edit_group_path(current_user.groups.where("group_day = ?", "tuesday").first) if !current_user.groups.where("group_day = ?", "tuesday").first.nil? %> </h2>
		<div class="table">
		<div class="row header green">
      <div class="cell">
        Class Name
      </div>
      <div class="cell">
        Class End Time
      </div>
      <div class="cell">
        Homework
      </div>
    </div>
	    <% current_user.groups.where("group_day = ?", "tuesday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    	<% ifHomework = checkIfHomework(group) %>
		     <div class="row"><div class="cell"><%= group.group_name %></div><div class="cell"><%= group.end_time.strftime("%l:%M").to_s %></div><div class="cell"><%= group.homework_assignment %></div></div> 
	    <% counter += 1 %>
	    <% end %>
	</div>
	<% end %>
	    <br>
	<% if current_user.groups.where("group_day = ?", "wednesday").nil? %> <h2> No Classes For Wednesday Yet </h2> <% else %>
	<% counter += 1 %> 
	<h2> <%= link_to 'Wednesday Classes', edit_group_path(current_user.groups.where("group_day = ?", "wednesday").first) if !current_user.groups.where("group_day = ?", "wednesday").first.nil? %> </h2>
		<div class="table">
		<div class="row header blue">
      <div class="cell">
        Class Name
      </div>
      <div class="cell">
        Class End Time
      </div>
      <div class="cell">
        Homework
      </div>
    </div>
	    <% current_user.groups.where("group_day = ?", "wednesday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    	<% ifHomework = checkIfHomework(group) %>
		     <div class="row"><div class="cell"><%= group.group_name %></div><div class="cell"><%= group.end_time.strftime("%l:%M").to_s %></div><div class="cell"><%= group.homework_assignment %></div></div> 
	    <% counter += 1 %>
	    <% end %>
	</div>
	<% end %>
	    <br>
	  <% if current_user.groups.where("group_day = ?", "thursday").nil? %> <h2> No Classes For Thursday Yet </h2> <% else %>
		<% counter = 1 %>
	<h2> <%= link_to 'Thursday Classes', edit_group_path(current_user.groups.where("group_day = ?", "thursday").first) if !current_user.groups.where("group_day = ?", "thursday").first.nil? %> </h2>
		<div class="table">
		<div class="row header purple">
      <div class="cell">
        Class Name
      </div>
      <div class="cell">
        Class End Time
      </div>
      <div class="cell">
        Homework
      </div>
    </div>
	    <% current_user.groups.where("group_day = ?", "thursday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    	<% ifHomework = checkIfHomework(group) %>
		     <div class="row"><div class="cell"><%= group.group_name %></div><div class="cell"><%= group.end_time.strftime("%l:%M").to_s %></div><div class="cell"><%= group.homework_assignment %></div></div> 
	    <% counter += 1 %>
	    <% end %>
	</div>
	<% end %>
	    <br>
	  <% if current_user.groups.where("group_day = ?", "friday").nil? %> <h2> No Classes For Friday Yet </h2> <% else %>
		<% counter = 1 %>
	<h2> <%= link_to 'Friday Classes', edit_group_path(current_user.groups.where("group_day = ?", "friday").first) if !current_user.groups.where("group_day = ?", "friday").first.nil? %> </h2>
		<div class="table">
		<div class="row header yellow">
      <div class="cell">
        Class Name
      </div>
      <div class="cell">
        Class End Time
      </div>
      <div class="cell">
        Homework
      </div>
    </div>
	    <% current_user.groups.where("group_day = ?", "friday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    	<% ifHomework = checkIfHomework(group) %>
		     <div class="row"><div class="cell"><%= group.group_name %></div><div class="cell"><%= group.end_time.strftime("%l:%M").to_s %></div><div class="cell"><%= group.homework_assignment %></div></div> 
	    <% counter += 1 %>
	    <% end %>
	</div>
	<% end %>
	    <br>
</div>
<% end %>

