<%= $staging = true if request.original_url == "https://staging-christopherbot.herokuapp.com/" %>
<%= $staging.inspect %>
<% if !user_signed_in? %>
	<%= render 'pages/home' %>
<% elsif current_user.class_number.nil? || current_user.class_number.to_s == "" || current_user.time_zone.nil? || current_user.time_zone.to_s == "" %>
	<%= render 'pages/user_class_number' %>
<% else %>

	<h1 class="center"><%= current_user.first_name + "'s" %> Classes</h1>

<div class="body-left">
	<% classDay = checkHomeworkDay %>
	<%= link_to 'Create Classes For ' + classDay.capitalize, new_group_path, class: "btn btn-primary center" if !classDay.nil? %>
	<br><br>
	<% counter = 1 %>
	<% if current_user.groups.where("group_day = ?", "monday").empty? %> <h2> Monday - <%= link_to 'No Classes Yet', new_group_path(:day => 'monday') if !classDay.nil? %> </h2> <% else %>
	<h2> <%= link_to 'Monday', edit_group_path(current_user.groups.where("group_day = ?", "monday").first) if !current_user.groups.where("group_day = ?", "monday").first.nil? %> </h2>
		<div class="table">
		<div class="row header">
      <div class="cell">
        Class Name
      </div>
      <div class="cell">
        End Time
      </div>
      <div class="cell">
        Homework
      </div>
    </div>
	    <% current_user.groups.where("group_day = ?", "monday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    	<% ifHomework = checkIfHomework(group) %>
		     <div class="row"><div class="cell"><%= group.group_name %></div><div class="cell"><%= group.end_time.strftime("%l:%M %p").to_s %></div><div class="cell"><%= group.homework_assignment %></div></div> 
	    <% counter += 1 %>
	    <% end %>
	</div>
	<% end %>
	    <br>
	<% counter = 1 %>
	<% if current_user.groups.where("group_day = ?", "tuesday").empty? %> <h2> Tuesday - <%= link_to 'No Classes Yet', new_group_path(:day => "tuesday") if !classDay.nil? %> </h2> <% else %>
	<h2> <%= link_to 'Tuesday', edit_group_path(current_user.groups.where("group_day = ?", "tuesday").first) if !current_user.groups.where("group_day = ?", "tuesday").first.nil? %> </h2>
		<div class="table">
		<div class="row header green">
      <div class="cell">
        Class Name
      </div>
      <div class="cell">
        End Time
      </div>
      <div class="cell">
        Homework
      </div>
    </div>
	    <% current_user.groups.where("group_day = ?", "tuesday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    	<% ifHomework = checkIfHomework(group) %>
		     <div class="row"><div class="cell"><%= group.group_name %></div><div class="cell"><%= group.end_time.strftime("%l:%M %p").to_s %></div><div class="cell"><%= group.homework_assignment %></div></div> 
	    <% counter += 1 %>
	    <% end %>
	</div>
	<% end %>
	    <br>
	<% counter = 1 %>
	<% if current_user.groups.where("group_day = ?", "wednesday").empty? %> <h2> Wednesday - <%= link_to 'No Classes Yet', new_group_path(:day => "wednesday") if !classDay.nil? %> </h2> <% else %>
	<h2> <%= link_to 'Wednesday', edit_group_path(current_user.groups.where("group_day = ?", "wednesday").first) if !current_user.groups.where("group_day = ?", "wednesday").first.nil? %> </h2>
		<div class="table">
		<div class="row header blue">
      <div class="cell">
        Class Name
      </div>
      <div class="cell">
        End Time
      </div>
      <div class="cell">
        Homework
      </div>
    </div>
	    <% current_user.groups.where("group_day = ?", "wednesday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    	<% ifHomework = checkIfHomework(group) %>
		     <div class="row"><div class="cell"><%= group.group_name %></div><div class="cell"><%= group.end_time.strftime("%l:%M %p").to_s %></div><div class="cell"><%= group.homework_assignment %></div></div> 
	    <% counter += 1 %>
	    <% end %>
	</div>
	<% end %>
	    <br>
	  <% counter = 1 %>
	  <% if current_user.groups.where("group_day = ?", "thursday").empty? %> <h2> Thursday - <%= link_to 'No Classes Yet', new_group_path(:day => "thursday") if !classDay.nil? %> </h2> <% else %>
	<h2> <%= link_to 'Thursday', edit_group_path(current_user.groups.where("group_day = ?", "thursday").first) if !current_user.groups.where("group_day = ?", "thursday").first.nil? %> </h2>
		<div class="table">
		<div class="row header purple">
      <div class="cell">
        Class Name
      </div>
      <div class="cell">
        End Time
      </div>
      <div class="cell">
        Homework
      </div>
    </div>
	    <% current_user.groups.where("group_day = ?", "thursday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    	<% ifHomework = checkIfHomework(group) %>
		     <div class="row"><div class="cell"><%= group.group_name %></div><div class="cell"><%= group.end_time.strftime("%l:%M %p").to_s %></div><div class="cell"><%= group.homework_assignment %></div></div> 
	    <% counter += 1 %>
	    <% end %>
	</div>
	<% end %>
	    <br>

	  <% counter = 1 %>
	  <% if current_user.groups.where("group_day = ?", "friday").empty? %> <h2> Friday - <%= link_to 'No Classes Yet', new_group_path(:day => "friday") if !classDay.nil? %> </h2> <% else %>
	<h2> <%= link_to 'Friday', edit_group_path(current_user.groups.where("group_day = ?", "friday").first) if !current_user.groups.where("group_day = ?", "friday").first.nil? %> </h2>
		<div class="table">
		<div class="row header yellow">
      <div class="cell">
        Class Name
      </div>
      <div class="cell">
        End Time
      </div>
      <div class="cell">
        Homework
      </div>
    </div>
	    <% current_user.groups.where("group_day = ?", "friday").order("end_time ASC").each do |group| %>
	    	<% if counter > current_user.class_number.to_i %>
	    		<% group.update(extra_class: true) %>
	    		<% else %>
	    		<% group.update(extra_class: false) %>
	    	<% end %>
	    	<% ifHomework = checkIfHomework(group) %>
		     <div class="row"><div class="cell"><%= group.group_name %></div><div class="cell"><%= group.end_time.strftime("%l:%M %p").to_s %></div><div class="cell"><%= group.homework_assignment %></div></div> 
	    <% counter += 1 %>
	    <% end %>
	</div>
	<% end %>
	    <br>
</div>
<% end %>

