<% if !user_signed_in? %>
	<%= render 'pages/home' %>
<% elsif current_user.class_number.nil? || current_user.time_zone.nil? %>
	<%= render 'pages/user_class_number' %>
<% else %>

	<h1 class="center">My Classes</h1>

<div class="body-left">
	<%= link_to 'Create Classes For ' + @classSignUpDay.capitalize, new_group_path, class: "btn btn-primary center" if current_user.groups.where("group_day = ?", "friday").empty?%>

	<h2> monday - <% if !current_user.groups.where(group_day: "monday").nil? %> 
									<%= link_to 'Edit', edit_group_path(current_user.groups.where("group_day = ?", "monday")) %> </h2><% else %><% end %>
	<% if current_user.groups.where("group_day = ?", "monday").empty? %> <h3> No Classes For Monday Yet</h3> <% end %>
	    <% current_user.groups.where("group_day = ?", "monday").order("end_time ASC").each do |group| %>
	    		<% ifHomework = checkIfHomework(group) %>
	    		<% if ifHomework == 'yes' %>
		      	<span class="yes-homework"><%= group.group_name %> - <%= "ends at " + group.end_time.strftime("%l:%M %P") %> - <%= group.homework_assignment %> </span>
		      <% else %>
		      	<%= group.group_name %> - <%= "ends at " + group.end_time.strftime("%l:%M %P") %> - <%= ifHomework %> 
		      <% end %>
	        <%= link_to group, method: :delete, data: { confirm: 'Are you sure?' } do %>
	        	<span class="glyphicon glyphicon-trash" aria-hidden="true">
	        <% end %>
	        <br>
	    <% end %>
	    <br>
	<h2>tuesday - <% if !current_user.groups.where(group_day: "tuesday").nil? %> 
									<%= link_to 'Edit', edit_group_path(current_user.groups.where("group_day = ?", "tuesday")) %> </h2><% else %><% end %>
	<% if current_user.groups.where("group_day = ?", "tuesday").empty? %> <h3> No Classes For Tuesday Yet</h3> <% end %>
	    <% current_user.groups.where("group_day = ?", "tuesday").order("end_time ASC").each do |group| %>
	    		<% ifHomework = checkIfHomework(group) %>
		      <% if ifHomework == 'yes' %>
		      	<span class="yes-homework"><%= group.group_name %> - <%= "ends at " + group.end_time.strftime("%l:%M %P") %> - <%= group.homework_assignment %> </span>
		      <% else %>
		      	<%= group.group_name %> - <%= "ends at " + group.end_time.strftime("%l:%M %P") %> - <%= ifHomework %> 
		      <% end %>
	       <%= link_to group, method: :delete, data: { confirm: 'Are you sure?' } do %>
	        	<span class="glyphicon glyphicon-trash" aria-hidden="true">
	        <% end %>
	        <br>
	    <% end %>
	    <br>
	<h2> wednesday - <% if !current_user.groups.where(group_day: "wednesday").nil? %> 
									<%= link_to 'Edit', edit_group_path(current_user.groups.where("group_day = ?", "wednesday")) %> </h2><% else %><% end %>
	<% if current_user.groups.where("group_day = ?", "wednesday").empty? %> <h3> No Classes For Wednesday Yet</h3> <% end %>
	    <% current_user.groups.where("group_day = ?", "wednesday").order("end_time ASC").each do |group| %>
	    		<% ifHomework = checkIfHomework(group) %>
		     <% if ifHomework == 'yes' %>
		      	<span class="yes-homework"><%= group.group_name %> - <%= "ends at " + group.end_time.strftime("%l:%M %P") %> - <%= group.homework_assignment %> </span>
		      <% else %>
		      	<%= group.group_name %> - <%= "ends at " + group.end_time.strftime("%l:%M %P") %> - <%= ifHomework %> 
		      <% end %>
	        <%= link_to group, method: :delete, data: { confirm: 'Are you sure?' } do %>
	        	<span class="glyphicon glyphicon-trash" aria-hidden="true">
	        <% end %>
	        <br>
	    <% end %>
	    <br>
	<h2> thursday - <% if !current_user.groups.where(group_day: "thursday").nil? %> 
									<%= link_to 'Edit', edit_group_path(current_user.groups.where("group_day = ?", "thursday")) %> </h2><% else %><% end %>
	<% if current_user.groups.where("group_day = ?", "thursday").empty? %> <h3> No Classecurrent_s For Thursday Yet</h3> <% end %>
	    <% current_user.groups.where("group_day = ?", "thursday").order("end_time ASC").each do |group| %>
	    		<% ifHomework = checkIfHomework(group) %>
		     <% if ifHomework == 'yes' %>
		      	<span class="yes-homework"><%= group.group_name %> - <%= "ends at " + group.end_time.strftime("%l:%M %P") %> - <%= group.homework_assignment %> </span>
		      <% else %>
		      	<%= group.group_name %> - <%= "ends at " + group.end_time.strftime("%l:%M %P") %> - <%= ifHomework %> 
		      <% end %>
	        <%= link_to group, method: :delete, data: { confirm: 'Are you sure?' } do %>
	        	<span class="glyphicon glyphicon-trash" aria-hidden="true">
	        <% end %>
	        <br>
	    <% end %>
	    <br>
	<h2> Friday - <% if !current_user.groups.where(group_day: "friday").nil? %> 
									<%= link_to 'Edit', edit_group_path(current_user.groups.where("group_day = ?", "friday")) %> </h2><% else %><% end %>
			<% if current_user.groups.where("group_day = ?", "friday").empty? %> <h3> No Classes For Friday Yet</h3> <% end %>
	    <% current_user.groups.where("group_day = ?", "friday").order("end_time ASC").each do |group| %>
	    		<% ifHomework = checkIfHomework(group) %>
		      <% if ifHomework == 'yes' %>
		      	<span class="yes-homework"><%= group.group_name %> - <%= "ends at " + group.end_time.strftime("%l:%M %P") %> - <%= group.homework_assignment %> </span>
		      <% else %>
		      	<%= group.group_name %> - <%= "ends at " + group.end_time.strftime("%l:%M %P") %> - <%= ifHomework %> 
		      <% end %>
	        <%= link_to group, method: :delete, data: { confirm: 'Are you sure?' } do %>
	        	<span class="glyphicon glyphicon-trash" aria-hidden="true">
	        <% end %>
	        <br>
	    <% end %>
	    <br>
</div>
<% end %>

