<p id="notice"><%= notice %></p>
<%= "Group Name: " + @group.group_name %><br>
<%= "Group End Time: " + @group.end_time.strftime('%H:%M:%S') %><br>
<%= "Group Class Day: " + @group.group_day %><br>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
