<div class="header-content">
            
            <!-- .container -->
            <div class="container">
                
                <!-- .row -->
            	<div class="row" id="back">
                    
                    <div class="col-sm-7">
                    	<div class="header-text">
                        	<div class="header-heading">
                            	<p>Flat Style Landing Page</p>
                                <h1>Present your app in beautiful way with Flatland</h1>
                            </div>
                            <p>Blazing fast, fully responsive, nice hover effects, smooth animation, price-table, working ajax contact form and more!</p>
                            <div class="header-button">
                            	<a href="https://www.messenger.com/t/1135063803224611" class="btn-custom btn-icon animation smooth-scroll" data-animation="animation-fade-in-left"><i class="fa fa-commenting"></i> Message Christopher Bot</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-5 col-md-4 col-md-offset-1">
                    	<div class="header-img">
                            <div class="carousel-slider header-slider animation" data-animation="animation-fade-in-down">
                                <div><img src="<%= image_path('content/sliders/redpoo.jpg') %>" alt="Image 1" /></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- .row end -->
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- .header-content end -->
        
    </header>
    <!-- #header end -->
    
    

    
    <!-- #features4 -->
    <div id="features4" class="wrap-container8040 bg-grey">
        
        <!-- .container -->
    	<div class="container">
            
            <div class="post-heading-center">
            	<h2>Christopher Bot's Fun Features</h2>
                <p>Lorem ipsum dolor sit amet, consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            
            <!-- .row-custom -->
            <div class="row-custom">
                
                <div class="col-left">
                	<div class="affa-feature-icon"> <!-- 1 -->
                    	<i class="fa fa-tablet animation" data-animation="animation-fade-in-left"></i>
                        <div class="feature-text">
                        	<h4>Always In Your Pocket</h4>
                            <p>Christopher Bot lives inside Facebook Messenger, and as long as you always have your phone, you'll always have Christopher Bot</p>
                        </div>
                    </div>
                    
                    <div class="affa-feature-icon"> <!-- 2 -->
                    	<i class="fa fa-thumbs-o-up animation" data-animation="animation-fade-in-left"></i>
                        <div class="feature-text">
                        	<h4>Simple Questions & Answers</h4>
                            <p>Proident sunt in culpa qui officia deserunt mollit anim perspiciatis unde omnis natus culpa qui deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    
                    <div class="affa-feature-icon"> <!-- 3 -->
                    	<i class="fa fa-list animation" data-animation="animation-fade-in-left"></i>
                        <div class="feature-text">
                        	<h4>Eliminates Written Lists</h4>
                            <p>Christopher Bot eliminates the need to always be writing down your homework in your big tree-killing notebook</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-center">
                	<figure class="margin-bottom40 animation" data-animation="animation-fade-in-down">
                    	<img src="<%= image_path('content/landing/feature-3.png') %>" alt="Nexus Black" />
                    </figure>
                </div>
                
                <div class="col-right">
                	<div class="affa-feature-icon"> <!-- 4 -->
                    	<i class="fa fa-question animation" data-animation="animation-fade-in-right"></i>
                        <div class="feature-text">
                        	<h4>Get Help Anytime</h4>
                            <p>Proident sunt in culpa qui officia deserunt mollit anim perspiciatis unde omnis natus culpa qui deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    
                    <div class="affa-feature-icon"> <!-- 5 -->
                    	<i class="fa fa-send animation" data-animation="animation-fade-in-right"></i>
                        <div class="feature-text">
                        	<h4>Sends Homework Summary</h4>
                            <p>At the end of your classes everyday Christopher Bot will always send you your homework, because he has a perfect memory</p>
                        </div>
                    </div>
                    
                    <div class="affa-feature-icon"> <!-- 6 -->
                    	<i class="fa fa-plane animation" data-animation="animation-fade-in-right"></i>
                        <div class="feature-text">
                        	<h4>Pause During Vacations</h4>
                            <p>Christopher Bot likes vacations just as much as you do. So he'll never disturb you when you want a break from the world</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- .row-custom end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #features4 end -->
    
    
    <!-- #testimonials -->
    <div id="testimonials" class="wrap-container8040 bg-color">
        
        <!-- .container -->
    	<div class="container">
            
            <div class="post-heading-center">
            	<h2>What Students Are Saying</h2>
                <p style="color: white">Lorem ipsum dolor sit amet, consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            
            <!-- .row -->
            <div class="row bg-color">
                
                <div class="col-sm-6"> <!-- 1 -->
                	<div class="affa-testimonial animation" data-animation="animation-fade-in-left">
                    	<div class="testimonial-text">
                        	<p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Perspiciatis unde iste natus error sit voluptatem accusantium doloremque laudantium."</p>
                        </div>
                        <div class="testimonial-author">
                        	<h4>Connor J.</h4>
                            <p>Grade 12, PCS High Scool</p>
                            <img src="<%= image_path('content/avatar/1.jpg') %>" alt="Avatar" />
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6"> <!-- 2 -->
                	<div class="affa-testimonial animation" data-animation="animation-fade-in-right">
                    	<div class="testimonial-text">
                        	<p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Perspiciatis unde iste natus error sit voluptatem accusantium doloremque laudantium."</p>
                        </div>
                        <div class="testimonial-author">
                            <h4>Joanna W.</h4>
                            <p>Cat Lady</p>
                            <img src="<%= image_path('content/avatar/2.jpg') %>" alt="Avatar" />
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- .row -->
            
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #testimonials end -->
    
    
    <!-- #teams -->
    <div id="teams" class="wrap-container8040 bg-dark">
        
        <!-- .container -->
    	<div class="container bg-dark">
            
            <div class="post-heading-center">
            	<h2>Who's Behind Christopher Bot</h2>
                <p>Lorem ipsum dolor sit amet, consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            
            <!-- .row -->
            <div class="row bg-dark">
                
                <div class="col-sm-4"> <!-- 1 -->
                	<div class="affa-team-profile">
                    	<figure class="team-profile-img animation" data-animation="animation-fade-in-down">
                        	<div class="team-profile-socials">
                            	<div class="team-profile-socials-wrap">
                                    <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" title="Email"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                            <img src="<%= image_path('content/avatar/1.jpg') %>" alt="Avatar" />
                        </figure>
                        <div class="team-profile-name">
                        	<h4>Alec Jones</h4>
                            <p>CEO</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore officia mollit anim id est laborum.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 2 -->
                	<div class="affa-team-profile">
                    	<figure class="team-profile-img animation" data-animation="animation-fade-in-down" data-delay="300">
                        	<div class="team-profile-socials">
                            	<div class="team-profile-socials-wrap">
                                    <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" title="Email"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                            <img src="<%= image_path('content/avatar/2.jpg') %>" alt="Avatar" />
                        </figure>
                        <div class="team-profile-name">
                        	<h4>Alec Jones</h4>
                            <p>CTO</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore officia mollit anim id est laborum.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 3 -->
                	<div class="affa-team-profile">
                    	<figure class="team-profile-img animation" data-animation="animation-fade-in-down" data-delay="600">
                        	<div class="team-profile-socials">
                            	<div class="team-profile-socials-wrap">
                                    <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" title="Email"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                            <img src="<%= image_path('content/avatar/6.jpg') %>" alt="Avatar" />
                        </figure>
                        <div class="team-profile-name">
                        	<h4>Alec Jones</h4>
                            <p>CMO</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore officia mollit anim id est laborum.</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
		</div>
        <!-- .container end -->
        
	</div>
    <!-- #teams -->
    
    <!-- #download -->
    <div id="download" class="bg-parallax" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="<%= image_path('content/bg/2.jpg') %>">
        
        <!-- .bg-overlay -->
        <div class="bg-overlay50 wrap-container120">
            
            <!-- .container -->
            <div class="container">
                
                <div class="post-heading-center">
                	<h2>Stop Forgetting Homework Now</h2>
                    <p>Lorem ipsum dolor sit amet, consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                
                <div class="btn-section textcenter animation" data-animation="animation-fade-in-up">
                    <a href="https://www.messenger.com/t/1135063803224611" class="btn-custom btn-icon animation smooth-scroll" data-animation="animation-fade-in-left"><i class="fa fa-commenting"></i> Message Christopher Bot</a>
                </div>
                
            </div>
            <!-- .container end -->
            
    	</div>
        <!-- .bg-overlay end -->
        
    </div>
    <!-- #download end -->
    
    <!-- #contact -->
    <div id="contact" class="wrap-container80 white">
        
        <!-- .container -->
    	<div class="container white">
            
            <!-- .row -->
            <div class="row white">
            </div>
            <!-- .row end -->
            
            <div class="post-heading-center white">
                <h2>Got A Burning Question?</h2>
                <p>Excepteur occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim est laborum perspiciatis unde omnis natus. Omnis iste natus error sit voluptatem dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
            
            <!-- .row -->
            <div class="row white">
                <div class="col-md-12 col-lg-12 col-md-offset-1 col-lg-offset-2 white"> 
                	<%= form_for(@message, url: contact_path, method: 'post', html: {class: "affa-form-contact"}) do |f|%>
                        <div class="submit-status"></div> <!-- submit status -->
                        
                        <%= f.text_field :name, placeholder: "Your Name *" %>
                        
                        <%= f.text_field :email, placeholder: "Email Address *" %>
                        
                        <%= f.text_area :content, placeholder: "Message *" %>
                        
                        <%= f.submit "Send Message" %>
                <% end %>
                </div>
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #contact end -->
    
    <!-- #footer -->
    <footer id="footer">
    	
        <div class="footer-socials">
        	<div class="container">
            	<a href="#" title="Twitter" class="animation" data-animation="animation-bounce-in"><i class="fa fa-twitter"></i></a>
                <a href="#" title="Facebook" class="animation" data-animation="animation-bounce-in" data-delay="200"><i class="fa fa-facebook"></i></a>
                <a href="#" title="Instagram" class="animation" data-animation="animation-bounce-in" data-delay="800"><i class="fa fa-instagram"></i></a>
                <a href="#" title="Github" class="animation" data-animation="animation-bounce-in" data-delay="1200"><i class="fa fa-github"></i></a>
            </div>
        </div>

        
    </footer>
    <!-- #footer end -->
    
    <!--[if lt IE 8]>
    	<div class="browser-notice">
            <div class="container">
            	<div class="text">
                    <h1>Internet Explorer Out To Date</h1>
                    <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
                    <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="blank">here....</a></span>
                </div>
            </div>
        </div>
	<![endif]-->