<div class="panel panel-default">
	<div class="panel-body">
		
    <%= form_for(@user, url: groups_path, method: 'get') do |f| %>

      <div class="form-group">
        <%= "How many classes do you have a day?" %>
        <%= f.text_field :class_number, autofocus: true, class: "form-control" %>
        <br>
        <%= "What time zone do you live in?" %><br>
        <%= f.select :time_zone, options_for_select(@timeZones), include_blank: true %>
      </div>
      <%= f.submit "sign up", :class => "btn btn-primary" %>
    <% end %>

		<!-- need to figure out how to edit the following line properly -->
</div>