<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
    <div class="navbar-header">
      <%= link_to image_tag('cb_logo_home.png'), root_path, class: "navbar-left navbar-brand" %>
      <%= link_to "Christopher Bot", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li class="right-link"><%= link_to "Home", root_path %></li>
        <li class="right-link"><a href="mailto:alecaej2002@gmail.com?Subject=Hey%20Alec" target="_top" class="right-link">Contact Me</a></li>
        <% if user_signed_in? %>
          <li role="presentation" class="dropdown right-link">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
             <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="right-link"><%= link_to "Change Settings", edit_user_path %></li>
              <li class="right-link"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="right-link"><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div> <!-- /. container -->
  </div><!-- /.container-fluid -->
</nav>