<header id="header">
<nav id="navigation" class="navbar">
            
            <!-- .container -->
            <div class="container">
                
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse-1">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand"><%= link_to "Christopher Bot", root_path, class: "navbar-brand" %></div> <!-- site logo -->
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menu-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "Home", root_path, class: "smooth-scroll" %></li>
                        <li><%= link_to "Commands", commands_path, class: "smooth-scroll" %></li>
                        <% if !user_signed_in? %>
                        <li><%= link_to "Sign In", new_user_session_path, class: "smooth-scroll" %></li>
                        <% else %>
                          <li><%= link_to "Settings", edit_user_path %></li>
                          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                        <% end %>
                    </ul>
                </div>
                
            </div>
            <!-- .container end -->
            
        </nav>
        <!-- #navigation end -->
<% if user_signed_in? %>
  </header>
<% end %>